
{{template "head.html" "Forgot Password"}}

<body class="forgot">

<div class="content simple">
    <div class="title"><h1 class="text-center">Reset your password</h1></div>
    <div class="space"></div>
    <div class="alerts">
        {{range .messages}}
        <div class="alert alert-secondary text-center" role="alert">
            {{.}}
        </div>
        {{end}}
    </div>
    <form class="form" action="/api/forgot" method="post">
        <div class="input-box form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" required placeholder="Email" name="email" />
        </div>
        <input type="hidden" name="csrf_token" value="{{ .csrf_token }}">
        <div class="action-area">
            <a href="/" class="btn btn-outline-primary">Cancel</a>
            <button type="submit" class="btn btn-primary">Reset</button>
        </div>
    </form>
</div>

</body>
</html>