
{{template "head.html" "Update Profile"}}

<body class="info">


<div class="content full">

    <div class="card">
        <div class="card-body">

            <div class="title"><h1 class="text-center">Enter Profile Information</h1></div>
            <div class="space"></div>
            <div class="alerts">
                {{range .messages}}
                    <div class="alert alert-secondary text-center" role="alert">
                        {{.}}
                    </div>
                {{end}}
            </div>
            <form class="form" action="/api/info" method="post">
                <div class="row">
                    <div class="col-md-6 h-100">
                        <div class="card">
                            <div class="card-body">
                                <div class="input-box form-group">
                                    <label for="email">Email</label>
                                    <input class="form-control" {{if .current_user.FromGoogle }}readonly
                                           type="text" {{else}} type="email" {{end}} id="email"
                                           value="{{ .current_user.Email }}" placeholder="Email" name="email"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 h-100">
                        <div class="card">
                            <div class="card-body">
                                <div class="input-box form-group">
                                    <label for="full-name">Full Name</label>
                                    <input type="text" id="full-name" class="form-control" placeholder="Full Name"
                                           name="full_name" value="{{ .current_user.FullName }}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="space"></div>

                <div class="row">
                    <div class="col-md-6 h-100">
                        <div class="card">
                            <div class="card-body">
                                <div class="input-box form-group">
                                    <label for="address">Address</label>
                                    <textarea name="address" class="form-control" id="address" rows="2"
                                              placeholder="Address">{{ .current_user.Address }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 h-100">
                        <div class="card">
                            <div class="card-body">
                                <div class="input-box form-group">
                                    <label for="telephone">Telephone</label>
                                    <input type="tel" id="telephone" class="form-control" placeholder="Telephone"
                                           name="telephone" value="{{ .current_user.Telephone }}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="csrf_token" value="{{ .csrf_token }}">
                <input type="hidden" name="redir" value="/profile">
                <div class="action-area">
                    <a href="/profile" class="btn btn-outline-primary">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save & Continue</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>