
{{template "head.html" "Login"}}

<body class="login">

<div class="container">
    <div class="content simple">
        <div class="title"><h1 class="text-center">Login</h1></div>
        <div class="alerts">
            {{range .messages}}
                <div class="alert alert-secondary text-center" role="alert">
                    {{.}}
                </div>
            {{end}}
        </div>
        <form class="form" action="/api/login" method="post">
            <div class="input-box form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" required placeholder="Email" name="email" />
            </div>
            <div class="input-box form-group">
                <label for="password">Password</label>
                <input type="password" id="password" required class="form-control" placeholder="Password" name="password" />
            </div>
            <input type="hidden" name="csrf_token" value="{{ .csrf_token }}">

            <div class="action-area">
                <a href="{{.loginUrl}}" class="btn btn-outline-primary">Sign in with Google</a>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <div class="action-area">
                <a href="/sign-up" class="btn btn-outline-primary">New User Sign-Up</a>
                <a href="/forgot" class="btn btn-outline-primary">Forgot Password</a>
            </div>
        </form>
    </div>
</div>


</body>
</html>