
{{template "head.html" "Profile"}}

<body class="profile">

<div class="content full">
    <div class="card">
        <div class="card-body">
            <div class="title"><h1 class="text-center">Main Profile</h1></div>
            <div class="space"></div>
            <div class="alerts">
                {{range .messages}}
                    <div class="alert alert-secondary text-center" role="alert">
                        {{.}}
                    </div>
                {{end}}
            </div>
            <div class="info-wrap">
                <div class="row">
                    <div class="col-md-6 h-100">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Email</h5>
                                <p class="card-text">{{ .current_user.Email }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 h-100">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Full Name</h5>
                                <p class="card-text">{{ .current_user.FullName }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
                <div class="row">
                    <div class="col-md-6 h-100">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Address</h5>
                                <p class="card-text">{{ .current_user.Address }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 h-100">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Telephone</h5>
                                <p class="card-text">{{ .current_user.Telephone }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="action-area">
                    <a href="/logout" class="btn btn-outline-primary">Logout</a>
                    <a href="/info" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>