
{{template "head.html" "Reset"}}

<body class="reset">

<div class="content simple">
    <div class="title"><h1 class="text-center">Update your password</h1></div>
    <div class="alerts">
        {{range .messages}}
            <div class="alert alert-secondary text-center" role="alert">
                {{.}}
            </div>
        {{end}}
    </div>
    <form class="form" action="/api/reset" method="post">
        <div class="input-box form-group">
            <label for="password">New Password</label>
            <input type="password" id="password" class="form-control" required placeholder="Password" name="password" />
        </div>
        <input type="hidden" name="token" value="{{ .reset_token }}">
        <input type="hidden" name="csrf_token" value="{{ .csrf_token }}">
        <div class="action-area single">
            <button type="submit" class="btn btn-primary">Reset</button>
        </div>
    </form>
</div>

</body>
</html>