
{{template "head.html" "Sign Up"}}

<body class="sign-up">

<div class="content simple">
    <div class="title"><h1 class="text-center">Sign Up</h1></div>
    <div class="alerts">

    </div>
    <form class="form" action="/api/sign-up" method="post">
        <div class="input-box form-group">
            <label for="email">Email</label>
            <input type="email" id="email" required class="form-control" placeholder="Email" name="email" />
        </div>
        <div class="input-box form-group">
            <label for="password">Password</label>
            <input type="password" id="password" required class="form-control" placeholder="Password" name="password" />
        </div>
        <input type="hidden" name="csrf_token" value="{{ .csrf_token }}">
        <div class="action-area">
            <a href="{{.loginUrl}}" class="btn btn-outline-primary">Sign up with Google</a>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
        <div class="action-area single">
            <a href="/" class="btn btn-outline-primary">Existing User Login</a>
        </div>
    </form>
</div>


</body>
</html>